<div class="app-page">

  <div class="app-page__header">
    <h1>Welcome!</h1>
  </div>

  <div class="app-page__content">

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequuntur, eaque, eius, eligendi eos eum
      expedita fugiat fugit in ipsam minus mollitia optio perferendis praesentium qui quos repudiandae sapiente sed sunt
      voluptatum! Amet deleniti dicta earum esse est ipsum, odit, officiis placeat sint tempora temporibus voluptates!
      Atque dolorem obcaecati voluptates.</p>
    <p>Architecto aspernatur consectetur distinctio earum error eum ex in iure laboriosam, maiores, natus nobis
      reprehenderit soluta. Exercitationem, qui unde. Dolorum earum eius eveniet ipsa, labore libero minima nostrum qui
      recusandae rem repudiandae sed unde? At distinctio excepturi minima nam quis sint totam voluptate? Accusamus
      accusantium error in quia sunt ut!</p>
    <p>Accusamus aliquid aut dicta dolor ea earum esse minima modi, nam necessitatibus nobis placeat similique sit sunt
      suscipit, tempore, vitae voluptates. Aliquam asperiores atque consequatur culpa cumque deleniti, dicta distinctio
      dolor ea et fugiat harum iure magnam minima necessitatibus neque nulla odio officiis placeat quibusdam ratione,
      rerum suscipit ut velit!</p>
    <p>Ab architecto commodi consectetur consequatur deserunt dicta dolor eaque, eligendi enim et hic, id incidunt iure
      magnam molestiae natus non officiis porro quae quasi repellat similique sint sit tempore, unde vel voluptates!
      Asperiores blanditiis cum deleniti deserunt dolor ea, eligendi eum explicabo incidunt laudantium, nihil odit, qui
      repellendus totam voluptatibus.</p>

  </div>

</div>
