@import "~styles/colors";

.autocomplete {
  position: relative;

  &__options {
    position: absolute;
  }
}

.option {
  display: flex;
  align-items: center;

  &__icon {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
  }

  span {
    height: 14px;
    width: 22px;
    border: 1px solid $base-dark
  }
}

:host-context(.form-field_error) {
  input {
    border: 1px solid $error;
  }
}
